html {
    font-size: 62.5%;
}

:root {
    --darkBrown: #AD8B73;
    --lightBrown: #E3CAA5; 
    --pinkBrown: #CEAB93;
    --cream: #FFFBE9;
    --red: #D1512D;
    --padding: 3rem;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: black;
    font-size: 1.6rem;
}
/*Header Section */

header {
    background-color: var(--darkBrown);
    background-image: url(coffeebackground.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 30rem;
    width: auto;
}

 ul {
    color: var(--cream);
    list-style: none;
    font-size: 2rem;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50%;

    padding-left: var(--padding);
 }
 
 nav {  
    position: absolute;
    height: 100%;
    width: 100vw;

    display: flex;
    align-items: start;
    justify-content: center;
 }

/*About Us Section */


/*Menu Section */
.menu {
    width: 100%;
    background: var(--cream);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}
.menu-item {
    display: grid;
    grid-template-columns: 6fr 1fr 1fr;
    gap: 2rem;
    justify-content: start;
}

.menu-item div {
    justify-self: start;
}

.prices {
    display: flex;
    gap: 1rem;
}

hr {
    height: 2px;
    background-color: var(--darkBrown);
    border-color: var(--darkBrown);
}

.small-image {
    height: 6rem;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

 /*should be 1200*/
 @media screen 
 and (min-device-width: 800px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 

}