html {
    font-size: 62.5%;
}

:root {
    --darkBrown: #61481C;
    --lightBrown: #E3CAA5; 
    --pinkBrown: #CEAB93;
    --cream: #FFFBE9;
    --red: #D1512D;
    --padding: 3rem;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: black;
    font-size: 1.6rem;
    color: black;
}
/*Header Section */

header {
    background-color: var(--darkBrown);
    background-image: url(coffeebackground.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

header * {
    color: var(--cream);
}

.logo {
    height: 30rem;
    width: auto;
}

 /*Navigation section*/
 nav {  
    position: absolute;
    height: 100%;
    width: 100vw;

    display: flex;
    align-items: start;
    justify-content: center;
 }


 ul {
    width: 80%;
    list-style: none;
    font-size: 2rem;
    padding: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding-left: var(--padding);
 }

 .drop-button {
    background-color: transparent;
 }

 .dropdown {
    position: relative;
 }

 .dropdown-content {
    position: absolute;
    min-width: 12rem;
    left: -0.8rem; 
    top: calc(100%);
    background-color: var(--cream);
    padding: 0.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
 }

 a {
    color: black;
    text-decoration: none;
 }

.dropdown-content.active {
    opacity: 1;
}

.dropdown > .drop-button:focus + .dropdown-content {
    opacity: 1;
}

/*Menu Section */
.menu {
    width: 100%;
    background: whitesmoke;
    padding: var(--padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0;
}

.menu-item {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 2rem;
    justify-content: start;
    padding-bottom: 1rem;
}

.menu-item div {
    align-self: center;
}

.prices {
    display: flex;
    gap: 1rem;
}

.small-image {
    height: 6rem;
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.5rem;
}

/*Contact */
.contact {
    background-image: url(location.jpg);
    background-size: cover;
    background-position: center;

    text-align: center;
    padding: 0 var(--padding);

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3rem;
}

.map-image {
    height: 25rem;
    width: 25rem;
}

.contact * {
    color: var(--cream);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input, textarea {
    height: 3.5rem;
    width: 80%;
}

textarea {
    height: 10rem;
}

button {
    background-color: var(--lightBrown);
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
}

button:active {
    opacity: 80%;
}

 /*should be 1200*/
 @media screen 
 and (min-device-width: 800px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 
    /*Navigation*/
    .dropdown:hover .dropdown-content {display: block;}
}