* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --darkBrown: #AD8B73;
    --lightBrown: #E3CAA5; 
    --pinkBrown: #CEAB93;
    --cream: #FFFBE9;
    --red: #D1512D;
}

html {
    font-size: 62.5%;
}

/*Header Section */

header {
    background-color: var(--darkBrown);
    padding: 0 3rem;
}

.logo {
    height: 20rem;
    width: auto;
}

 ul {
    list-style: none;
    gap: 3rem;
    font-size: 2rem;
    display: none;
    color: var(--cream);
 }
 
 nav {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 /*should be 1200*/
 @media screen 
 and (min-device-width: 800px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 
    /*header*/
    ul {
        display: flex;
    }

    nav {
        justify-content: space-between;
    }
}